<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Бот «Programmer's assistant»</title>
</head>
<body>
<img src="back3.png" class="background">
<header>
    <hgroup>
        <h1 id='text_fixed'><b>Бот «Programmer's assistant» и как им пользоваться</b></h1>
    </hgroup>
    <div id='cont'>
        <p><b>Да кто такой ваш «Programmer's assistant»?</b></p>
        <h2>«Programmer's assistant» это дискорд бот, который поможет начинающим программистам в освоение языка Python.
            Смысл бота заключается в быстром доступе к документации по языку Python</h2>
        <p><b>Как пользоваться ботом</b></p>
        <h2>Бот довольно прост и имеет всего 2 команды:</h2>
        <ul>
            <li><b>/help</b></li>
            <li><b>/lib[путь до темы]</b></li>
        </ul>
        <h2>Команда /help знакомит нас с командой /lib и выводит перечень тем, справку по которым можно получить</h2>
        <div id='layer'>
            <img src="C:\Users\sweta\PycharmProjects\finalxflaskxprogect\help.jpg" alt="/help" width="1000">
        </div>
    </div>
</header>

</body>
</html>