<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Бот «Programmer's assistant»</title>
</head>
<body>
<img src="back3.png" class="background">
<header>
    <hgroup>
        <h1 class='text_fixed'><b>Бот «Programmer's assistant» и как им пользоваться</b></h1>
    </hgroup>
    <div id='cont'>
        <p><b>Да кто такой ваш «Programmer's assistant»?</b></p>
        <h2>«Programmer's assistant» это дискорд бот, который поможет начинающим программистам в освоение языка Python.
            Смысл бота заключается в быстром доступе к документации по языку Python</h2>
        <p><b>Как пользоваться ботом</b></p>
        <h2>Бот довольно прост и имеет всего 2 команды:</h2>
        <ul>
            <li><b>/help</b></li>
            <li><b>/lib[путь до темы]</b></li>
        </ul>
        <h2>Команда /help знакомит нас с командой /lib и выводит перечень тем, справку по которым можно получить</h2>
        <div class='layer'>
            <img src="C:\Users\sweta\PycharmProjects\finalxflaskxprogect\help.jpg" alt="/help" width="1000">
        </div>
        <h2>Команда /lib[путь до темы] непосредсвенно выводит справку по теме, путь до которой указан в команде</h2>
        <div class='layer'>
            <img src="C:\Users\sweta\PycharmProjects\finalxflaskxprogect\lib.jpg" alt="/help" width="1000">
        </div>
        <p><b>Кому нужен этот бот</b></p>
        <h2>В первую очередь бот будет полезен новичкам(Навальный не при чём), которые хотят освоить язык Python, например ученикам Яндекс.Лицея 1-го года</h2>
        <p><b>Почему бот удобен</b></p>
        <h2>Бот удобен в первую очередь из-за скорости, не надо ускать нужный урок(тем более если<br>в его названии нет того, что ты ишешь), не надо яндексить запрос и искать сайт с<br>нужной вам информацией, а часто это процесс тяжелый, т.к. многие авторы статей<br>любят полить воды</h2>
        <div class='layer'>
            <img src="C:\Users\sweta\PycharmProjects\finalxflaskxprogect\rofl_png.jpg" alt="/help" width="1000">
        </div>
        <h2>Во вторую очередь бот удобен тем, что это бот, а это значит, что его можно добавить в беседу, где много новичков и убить сразу n-число зайцев сразу</h2>
        <p><b>Недостатки бота</b></p>
        <h2 style="text-align: center">*треск сверчков*</h2>
    </div>
    <footer><b>© 200г. до н.э. - 2077  ОАОААААО «SpaceX»</b></footer>
</header>

</body>
</html>